@import '../../../styles/fonts';
@import '../../../styles/colors';

.title {
  @extend %title-font;
  color: $oftt-bark;
  &-small {
    padding: .8rem;
    font-size: 2.4rem;
  }
  &-medium {
    padding: 1.2rem;
    font-size: 3.2rem;
  }
  &-default {
    padding: 1.6rem;
    font-size: 4rem;
  }
  &-large {
    padding: 2rem;
    font-size: 5.6rem;
  }
}