html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
}

@font-face {
  font-family: 'Burford';
  src: url('../assets/fonts/Burford_Outline/BurfordOutline.eot');
  src: url('../assets/fonts/Burford_Outline/BurfordOutline.eot?#iefix') format('embedded-opentype'),
       url('../assets/fonts/Burford_Outline/BurfordOutline.woff') format('woff'),
       url('../assets/fonts/Burford_Outline/BurfordOutline.ttf') format('truetype'),
       url('../assets/fonts/Burford_Outline/BurfordOutline.svg') format('svg');
  font-weight: normal;
  font-style: normal;
}

#no-script-wrapper {
  background: url(../assets/images/home_banner.jpg) no-repeat center center fixed;
;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  min-height: 100%;
  height: 100vh;
}

#no-script-splash-page-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100%;
  background: rgba(0,0,0,.3);
}

#no-script-main-title {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#no-script-main-title-wrapper {
  width: 60rem;
  margin-top: 15rem;
  text-align: center;
  border-top: 3px solid #E0F2E9;
  border-left: 3px solid #E0F2E9;
  border-right: 3px solid #E0F2E9;
  border-radius: 3px;
}

#no-script-main-title-wrapper h1 {
  margin: .8rem 0 3.2rem;
  font-size: 12rem;
  font-weight: 400;
  color: #E0F2E9;
  font-family: 'Burford', 'Abril Fatface', sans-serif;
  line-height: 1;
}

#no-script-main-title-drop-wrapper {
  margin-top: -6rem;
}

#no-script-main-title-drop-wrapper h1 {
  margin: 0;
  font-size: 12rem;
  font-weight: 400;
  color: #E0F2E9;
  font-family: 'Burford', 'Abril Fatface', sans-serif;
  line-height: 1;
}

#no-script-border-placement {
  display: flex;
  justify-content: space-between;
}

.no-script-border-affect {
  border-bottom: 3px solid #E0F2E9;
  width: 8rem;
}

#no-script-js-disclaimer {
  margin-top: 5rem;
  background: rgba(5, 5, 5, 0.8);
  padding: 2rem;
  width: 56rem;
  border: 3px solid #E0F2E9;
  border-radius: 4px;
  font-family: 'Montserrat', 'Helvetica Neue', sans-serif;
  color: #E0F2E9;
}
#no-script-js-disclaimer p {
  line-height: 1.5;
}

#no-script-anchor a {
  display: inline;
}
