.icon-button {
  background: transparent;
  border: none;
  cursor: pointer;
  img {
    height: 40px;
    width: 40px;
    transition: height .2s, width .2s;
  }
  &:hover {
    img {
      height: 56px;
      width: 56px;
      transition: height .2s, width .2s;
    }
  }
}