@import './colors.scss';
@import './fonts.scss';

html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
}

#no-script-wrapper {
  background: url(../../../../../outofthetimbers-content/home_banner.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  min-height: 100%;
  height: 100vh;
}

#no-script-splash-page-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#no-script-main-title {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#no-script-main-title-wrapper {
  width: 60rem;
  margin-top: 9rem;
  text-align: center;
  background: rgba(0,0,0,.3);
  border-top: 3px solid black;
  border-left: 3px solid black;
  border-right: 3px solid black;
  > h1 {
    margin: 0;
    font-size: 12rem;
    color: white;
    font-family: 'BurfordOutline', 'Roboto', sans-serif;
    line-height: 1;
  }
}

#no-script-border-placement {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.no-script-border-affect {
  border-bottom: 3px solid black;
  width: 10rem;
}