$oftt-white: #E0F2E9;
$oftt-yellow-green: #ECF87F;
$oftt-lime-green: #81B622;
$oftt-green: #59981A;
$oftt-olive-green: #3D550C;
$oftt-rust: #934B00;
$oftt-bark: #363020;
$oftt-tar: #252627;

// success-error
$offtt-success: #8EA604;
$oftt-error: #BB0A21;