@import './colors.scss';
@import './animations.scss';

%anchor {
  display: block;
  padding: 6px 12px;
  text-decoration: none;
  color: $oftt-bark;
  transition: color .7s;
  &:link {
    text-decoration: none;
  }
  &:visited {
    color: $oftt-bark;
  }
  &:hover {
    transition: color .4s;
    color: $oftt-green;
    -webkit-animation: heartbeat 1.5s ease-in-out infinite both;
    animation: heartbeat 1.5s ease-in-out infinite both;
    }
}

%link-font {
  font-family: 'Trirong', 'Roboto', 'Helvetica Neue', sans-serif;
}

%text-font {
  font-family: 'Roboto', 'Helvetica Neue', sans-serif;
}

%title-font {
  font-family: 'Pacifico', 'Trirong', 'Roboto', 'Helvetica Neue', sans-serif;
  letter-spacing: .2rem;
}

%footer-font-size {
  font-size: 1.6rem;
}