@import './colors.scss';

%anchor {
  display: block;
  text-decoration: none;
  color: $oftt-green;
  transition: color .7s;
  &:link {
    text-decoration: none;
  }
  &:visited {
    color: $oftt-lime-green;
  }
  &:hover {
    transition: color .4s;
    color: $oftt-lime-green;
  }
  &:focus {
    transition: color .4s;
    color: $oftt-lime-green;
  }
}

%link-font {
  font-family: 'Trirong', 'Roboto', 'Helvetica Neue', sans-serif;
}

%text-font {
  font-family: 'Roboto', 'Helvetica Neue', sans-serif;
}

%title-font {
  font-family: 'Pacifico', 'Trirong', 'Roboto', 'Helvetica Neue', sans-serif;
  letter-spacing: .2rem;
}

%footer-font-size {
  font-size: 1.6rem;
}