@import '../../styles/colors';
@import '../../styles/animations';
@import '../../styles/fonts.scss';

.footer {
  display: flex;
  &-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 33.333333%;
  }
}

