@import '../../../styles/colors';

.input {
  &-label {
    position: absolute;
    padding-left: 1.2rem;
    padding-top: 1rem;
    z-index: 100;
    color: transparentize(black, .6);;
    font-size: 2rem;
    transition: padding-top .4s, font-size .3s;

    &-focused {
      font-size: 1.2rem;
      padding-top: 0.2rem;
      outline: none;
      transition: padding-top .4s, font-size .3s;
    }
  }

  &-input {
    padding-left: 1.2rem;
    border: 2px solid $oftt-green;
    border-radius: 4px;
    font-size: 2rem;
    color: transparent;
    text-shadow: 0 0 0 $oftt-green;

    &-default {
      height: 4rem;
      width: 20rem;
    }
  }
}