@import '../../styles/fonts';

.header {
  nav {
    font-family: $text-font-stack;
    ul {
      display: flex;
      justify-content: space-around;
      margin: 0;
      padding: 0;
      list-style: none;
      background-color: red;
    }

    li {
      display: inline-block;
    }

    a {
      display: block;
      padding: 6px 12px;
      text-decoration: none;
    }
  }
}