<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Out of the Timbers</title>
    <link href="https://fonts.googleapis.com/css?family=Abril+Fatface|Montserrat" rel="stylesheet">
    <link href="assets/fonts/Burford_Outline/webfonts/BurfordOutline.woff" rel="font/woff2">
    <link href="<%= htmlWebpackPlugin.files.chunks.main.css %>" rel="stylesheet">
  </head>
  <body>
    <noscript>
      <div id="no-script-wrapper">
        <div id="no-script-splash-page-wrapper">
          <div id="no-script-main-title">
            <div id="no-script-main-title-wrapper">
              <h1>Out of the</h1>
              <div id="no-script-border-placement">
                <div class="no-script-border-affect"></div>
                <div class="no-script-border-affect"></div>
              </div>
            </div>
            <div id="no-script-main-title-drop-wrapper">
              <h1>Timbers</h1>
            </div>
          </div>
          <div id="no-script-js-disclaimer">
            <p>
              <span>Thank you for visiting Out of the Timbers, the place to find finely crafted wood works.
              This site requires that JavaScript be enabled to provide you with the best service.
                Here are the</span><span id="no-script-anchor"><a href="https://www.enable-javascript.com/">
              instructions on how to enable JavaScript</a> in your web browser</span>
            </p>
          </div>
        </div>
      </div>
    </noscript>
    <div id="app" />
    <script src="<%= htmlWebpackPlugin.files.chunks.main.entry %>"></script>
  </body>
</html>