<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Out of the Timbers</title>
    <link href="https://fonts.googleapis.com/css?family=Abril+Fatface|Montserrat" rel="stylesheet">
    <link href="../assets/fonts/Burford_Outline/webfonts/BurfordOutline.woff" rel="stylesheet">
    <link rel="stylesheet" href="<%= htmlWebpackPlugin.files.chunks.main.css %>">
  </head>
  <body>
    <noscript>
      <div id="no-script-wrapper">
        <div id="no-script-splash-page-wrapper">
          <div id="no-script-main-title">
            <div id="no-script-main-title-wrapper">
              <h1>Out of the</h1>
              <h1>Timbers</h1>
              <div id="no-script-border-placement">
                <div class="no-script-border-affect"></div>
                <div class="no-script-border-affect"></div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </noscript>
    <div id="app" />
    <script src="<%= htmlWebpackPlugin.files.chunks.main.entry %>"></script>
  </body>
</html>